---
layout: default
post_class: post-template page-template
---

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
</nav>


<main class="content" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->
        <figure class="about-author-image">
            <a class="img" href="{{ site.baseurl }}" style="background-image: url({{site.profile_pic}})">
            <span class="hidden">{{site.author}}'s Picture</span></a>
        </figure>
        <div class="social-profiles">
            <a href="https://github.com/callicles"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/nicolasjoseph"> <i class="fa fa-linkedin-square"></i></a>
            <a href="https://twitter.com/NicolasJosephIT"> <i class="fa fa-twitter"></i></a>
        </div>

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
